@model ChangePasswordRequest

@{
    ViewData["Title"] = "Tài khoản";
}

@section header
{
    Tài khoản - Đổi mật khẩu
}

<form asp-action="ChangePassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Oid" class="form-control" />
    <input type="hidden" asp-for="ModifiedBy" class="form-control" />
    <div class="form-group">
        <label class="control-label">Mật khẩu cũ</label>
        <input asp-for="OldPass" class="form-control" required type="password" />
        <span asp-validation-for="OldPass" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Mật khẩu mới</label>
        <input asp-for="NewPass" class="form-control" required type="password" />
        <span asp-validation-for="NewPass" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Xác nhận mật khẩu</label>
        <input asp-for="Confirm" class="form-control" required type="password" />
        <span asp-validation-for="Confirm" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="width:110px">
        <a class="fa fa-save"></a> &nbsp;Lưu lại
    </button>
    <button type="button" class="btn btn-warning" style="width:110px">
        <a class="fa fa-arrow-left"></a> &nbsp;
        @Html.ActionLink("Trở về", "Index", "Account")
    </button>
</form>