<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true" throwExceptions="false"
	  internalLogLevel="Error" internalLogFile="NLogError.log">
  <extensions>
	<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>
  <variable name="appName" value="HoTroKhachHang.Api" />
  <targets async="true">
	<target xsi:type="File" name="file" layout="${longdate} - ${level:uppercase=true}:${newline}${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}${newline}"
			fileName="Debug.log"
			keepFileOpen="false" archiveFileName="Debug_${shortdate}.{##}.log"
			archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
	<target xsi:type="EventLog" name="eventlog" source="${appName}"
			layout="${message}${newline}${exception:format=ToString}"/>
	<target type="ApplicationInsightsTarget" name="aiTarget" />
  </targets>
  <rules>
	<logger name="*" writeTo="file" minlevel="Info" />
	<logger name="*" minlevel="Error" writeTo="eventlog" />
	<logger name="*" minlevel="Trace" writeTo="aiTarget" />
  </rules>
</nlog>